body {
  font-family: roboto;
  max-width: 960px;
  margin: 0 auto;
}

.modal-popover {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  background: #03387F;
  max-width: 800px;
  margin: 0 auto;
}

.modal-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
}

.modal-img-wrapper {
  height: 400px;
  overflow: scroll;
}

.well {
  margin: 0 30px;
  background: white;
}
.well p {
  padding: 20px;
  overflow: scroll;
}

.modal-close-box {
  padding: 10px 20px 20px;
}

.modal-heading-box {
  color: #ffffff;
}
.modal-heading-box h2 {
  padding: 0 20px;
}

.instructions-wrapper {
  background: #03387F;
  padding: 10px;
  margin-bottom: 10px;
}

#instructions-paragraph {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

#instructions-heading {
  color: white;
  font-size: 36px;
}

.instructions-button-wrapper {
  background: white;
}

.filter-button-wrapper {
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #03387F;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: #539CFF;
}

nav {
  min-height: 50px;
  background: white;
  border: #03387F solid 4px;
  border-radius: 5px;
}
@media (min-width: 992px) {
  nav .container {
    width: 970px;
  }
}

.navbar-nav {
  float: left;
  margin: 0;
  list-style-type: none;
}
.navbar-nav li {
  float: left;
}
.navbar-nav li a {
  color: #03387F;
  position: relative;
  display: block;
  padding: 15px;
  line-height: 20px;
  text-decoration: none;
}
.navbar-nav li a :active {
  background: #03387F;
  color: #fff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.skihill-card-wrapper {
  background: #03387F;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

@media (min-width: 730px) {
  .skihill-card-wrapper {
    width: 45%;
  }
}
.skihill-heading-location {
  border-radius: 5px;
  background: #ffffff;
  margin: 10px 15px;
  padding: 5px 10px;
}

.details-wrapper {
  color: white;
  margin-left: 15px;
}

.details-list-a11y {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.flexer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.details-list li {
  margin-top: 10px;
}

footer {
  background: #03387F;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: #fff;
}
footer p {
  display: inline-block;
}
footer a {
  color: white;
}

.contact-wrapper {
  border: solid 2px #539CFF;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

input {
  margin: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  border: solid 2px #539CFF;
  border-radius: 5px;
}

/*# sourceMappingURL=index.css.map */
