<!DOCTYPE html>
<html lang="en">
<head>
  <title> Twin City Ski Hills</title>
  <link type="text/css" rel="stylesheet" href="/styles/css/index.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/cyborg/bootstrap.min.css" crossorigin="anonymous">-->


</head>
<body>
<div id="root" tabindex="-1"><%- reactComponent -%></div>
<script>window.INITIAL_STATE=<%-initialState-%></script>
<script src="/bundle.js"></script>

</body>
</html>